body{
    background-color: color(srgb 0.5 0 0);
}

#twitch{
    color: rgb(243, 0, 182);
}

#Link_Boxt{
    width: 30%;
    top: 80px;
    position: absolute;
    background-color: color(srgb 0.5 0 0.5);
    border-radius: 25px 0px;
}

#Link_Boxy{
    width: 30%;
    position: absolute;
    left: 33%;
    top: 80px;
    background-color: color(srgb 1 0 0);
    border-radius: 25px 0px;

}

#tabs{
    position: relative;
    left: 40%;
}

h3{
    position: absolute;
}

#links{
    left: 80px;
}

.active_tab{
    color: aliceblue;
    text-decoration: underline overline;
}